---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>About me</h1>
        <h2>This is a tutorial.</h2>

        <p>I am working on this because a pottential internship is awaiting!</p>

        <p>This is making me learn new stuf!!!</p>
	</body>
</html>
