---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>My Astro Site</h1>
        <h2>yes, it really is my first astro website</h2>

        <p>the fitness grand pacer test</p>

        <p>bla bla bla bla bla bla bla bla bla</p>
	</body>
</html>